$font: verdana;

@mixin flexBox(){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexR {
  @include flexBox ;
  flex-direction: row;
}

form {
 @include flexBox;

 inputs {
   background: lightblue;
 }
 font: $font

}

input {
  width: 60px;
}
